<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sockets Example</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.1.4/lib/p5.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.1.4/lib/addons/p5.sound.min.js"></script>
  <script type="text/javascript" src="sketch.js"></script>

  <link rel="stylesheet" type="text/css" href="./stylesChat.css">
  <link href="/stylesChat.css" rel="stylesheet" />
</head>

<body>
  
  <span style="font-size:25px;cursor:pointer;position:absolute; z-index: 1;"onclick ="openNav()">&#9776; People</span>
  <div id="header">
    <h1>Collabo-<%=room%></h1> 
    <!-- <img style="position: absolute;z-index:1;"src="smiley.gif" alt="Collabo">  -->
  </div>
  
   
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h2 style=color:rgb(240,233,233)>Member 1</h2>
    <h2 style=color:rgb(240,233,233)>Member 2</h2>
    <h2 style=color:rgb(240,233,233)>Member 3</h2>
    <h2 style=color:rgb(240,233,233)>Member 4</h2>
  </div>


  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "200px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
       

  <div id="mario-chat">
    <h2 style=background:#bcac1a80;>Messages </h2>

    <div id="chat-window">
      <div id="output"></div>
      <div id="feedback"></div>
    </div>
    <input id="handle" type="text" placeholder="Handle" />
    <input id="message" type="text" placeholder="Message" />
    <button id="send">Send</button>
    <div id="nspace"><%=nspace %></div>
    <div style="display:none;" id="room"><%=room %></div>
  </div>

</body>

</html>