body{
  background-color: #3B4048;
  color: white;
  
}

.namespaces{
  background-color: #282c34;
  min-height: 100vh;
  color: #ABB2BF;
  text-align: center;

}

.namespaces img{
  margin-top: 10px;
  background-color: #ABB2BF;
  border-radius: 10px;
  cursor: pointer;
  width:45px;
}

.room-list{
  padding-left: 0px;
}

.room-list li{
  cursor: pointer;
  list-style-type: none;
  padding: 0px 15px;
}

.room-list li span{
  margin-right: 5px;
}

.room-list li.active{
  background-color: #61AFEF;
  color: #fff
}

.rooms{
  background: #3B4048;
  min-height: 100vh;
  color: #ABB2BF;
  
}


.chat-panel{
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  padding-top: 10px;
}
.sketch-board{
  background-color: #c7e5f7;
  min-height: 50vh;
  position: relative;
  padding-top: 10px;
}
.chat-panel .curr-room-text{
  color: #282c34;
  font-size: 26px;
}
.curr-room-num-users, .search{
  font-size: 14px;
  color: #ABB2BF;
  position: realtive;
}

.search{
  margin-top: 5px;
}

.search span{
  position: absolute;
  left: 25px;
  top: 10px;
}

.search input{
  padding-left: 30px;
}

.message-form { 
  margin: 0px; margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 98%
}
input { 
  width: 100%; 
  height: 34px; 
  color: #ABB2BF; 
  border: 1px solid #3B4048; 
  border-radius: 5px;
  padding-left: 5px;
}
#messages { 
  list-style-type: none; margin: 0; padding: 0; 
  color: #3B4048;
  max-height: 85%;
  overflow: scroll;
}
#messages li .user-image{
  width: 50px;
  display: inline-block;
}
#messages li .user-message{
  margin-left: 10px;
  color: #222;
}

#messages li .user-name-time span{
  color: #427ff1;
}

#messages li { 
  padding: 5px 10px; 
  display: flex;
  align-items: stretch;
}

body{
  font-family: 'Nunito';
}

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#mario-chat{
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}



